---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{https://scholar.google.com/citations?user=gf_rroYAAAAJ&hl=en}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}



<ul>
  {% assign pubs = site.publications | sort: 'date' | reverse %}
  {% for pub in pubs %}
    <li>
      <strong>{{ pub.date | date: "%Y" }}</strong>:
      <a href="{{ pub.url | relative_url }}">{{ pub.title }}</a>
      {% if pub.authors %}
        <br/>{{ pub.authors }}
      {% endif %}
      {% if pub.journal %}
        <br/><em>{{ pub.journal }}</em>
      {% endif %}
      {% if pub.content %}
        <p>{{ pub.content | markdownify }}</p>
      {% endif %}
    </li>
  {% endfor %}
</ul>


